@tailwind base;
@tailwind components;
@tailwind utilities;

.main-container {
    display: flex;
    flex-direction: column;
    background-color: lightblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    padding-left: 1vw;
}

.sub-container {
    display: flex;
    flex: 1;
    gap: 1vw;
}

.side-bar-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    flex: 0.2;
    background-color: whitesmoke;
    border-top-right-radius: 5px;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-color: white;
    border-top-left-radius: 5px;
}

.table-container {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

table {
    min-width: 40vw;
}

th, tr, td {
    border: solid lightgrey 0.9px;
    font-size: x-small;
    font-weight: 300;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 5px;
}

th {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.modal-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    width: 99vw;
    height: 99vh;
}

.modal-container form {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    padding: 2%;
    border-radius: 5px;
    width: max-content;
    height: max-content;
    background-color: whitesmoke;
    font-size: small;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.modal-input-field-container {
    display: flex;
    flex-direction: column;
}

.modal-container h3 {
    display: flex;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btn {
    font-size: x-small;
    border-bottom: solid black 1px;
}

.btn:hover {
    text-decoration: underline;
}

.modal-btn-div {
    display: flex;
    justify-content: center;
}

.btn-modal {
    width: max-content;
}

.toolbar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 5vh;
    z-index: 1;
    background-color: whitesmoke;
    min-height: 12vh;
    min-width: 40vw;
}

.toolbar-btn-delete {
    position: absolute;
    left: 10%;
    color: red;
}

.instructions {
    font-size: x-small;
}